img.gallery-image {
    width: 90%;
    border-radius: 12px;
}

div.gallery-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1em;
   
}

@media (min-width: 800px) {
    img.gallery-image {
    width: 40%;
}
}